:root {
  --primary: #1e1345;
  --secondary: #b4afc6;
  --accent: #00c0ff;
  --absolute: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul,
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* GENERAL */
.section {
  padding-block: 3em;
}

.container {
  width: 95%;
  margin: 0 auto;
  padding: 1em;
}

/* REUSABLE VARIABLES */

/* typography */

.heading-one {
  font-size: 3.13rem;
  line-height: 1.1;
  color: var(--absolute);

  margin-top: 1em;
}

.heading-two {
  font-size: 1.813rem;
  color: var(--absolute);
  margin-block: 1em;
}

.heading-three {
  font-size: 1.875rem;
  margin-block: 1em;
}

.sub-text-one {
  font-size: 1.06rem;
  color: var(--absolute);
  font-weight: 500;
  margin-top: 1em;
}

/* button */
.btn {
  font-weight: 500;
  padding: 0.6em 1.4em;
  color: white;
  background: var(--accent);
  cursor: pointer;
  border: none;
  border-radius: 50px;
  transition: all 300ms ease-in;
  font-size: 1rem;
}

.btn:hover {
  background: var(--absolute);
  color: var(--primary);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

/* animation */

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes float2 {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(-20px);
  }
}
.btn,
.left,
.right {
  animation: float 3s ease-in-out infinite;
}

.form-group,
.portfolio-card {
  animation: float2 3s ease-in-out infinite;
}

/* **************************************** */

.wrapper {
  color: var(--secondary);
  background: linear-gradient(0deg, #1e1345 0%, #3a2b71 100%);
}

/* header */

.header-container {
  background: var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0 8px 8px #0000001a;

  animation: slideIn 0.5s ease forwards;
}

.header {
  justify-content: space-between;
}

.logo-container {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  overflow: hidden;
}

/* navigation */

.menu-btn {
  z-index: 3;
}

.nav-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: #363b4e;

  z-index: 2;
  padding: 2em 0;
  transform: translateY(-100%);
  transition: transform 0.3s;
}

nav a {
  color: white;
  display: block;
  padding: 0.4em 1.5em;
  text-align: right;
  border-top: 1px solid var(--secondary);

  &:first-of-type {
    margin-top: 3em;
  }

  &:hover {
    background: var(--accent);
    transition: all 300ms ease-in;
  }
}

/* main  */

.main-section {
  min-height: 100vh;
  background: #1e1345;
  position: relative;
}

.main-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./assets/bg.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.2;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "left"
    "right";
  place-items: center;
  position: relative;
}

.left-main-content {
  grid-area: right;
}

.left-main-content > h1 {
  margin-top: 1.88rem;
}

.cta-container {
  margin-top: 2.1rem;
}

.right-main-content {
  grid-area: left;
}

.right-main-content .image-container {
  max-width: 200px;
  max-height: 200px;
  border-radius: 100%;
  overflow: hidden;
}

/* about */

.about-title-container,
.portfolio-title-container,
.gallery-title-container {
  text-align: center;
}

.about-title-container > span,
.portfolio-title-container > span,
.gallery-title-container > span {
  color: var(--accent);
}

.inner-wrapper {
  margin-top: 3em;
  display: grid;
}

.left-about-image-container,
.portfolio-card {
  max-width: 380px;
  border-radius: 1em;
  overflow: hidden;
}

.download-cv {
  justify-content: start;
}

/* portfolio */

.portfolio-section {
  background: var(--primary);
}

.portfolio-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  place-items: center;
}

.portfolio-card {
  box-shadow: 0 8px 8px #0000001a;
}

.card-des {
  background: var(--accent);
  color: var(--primary);
  padding: 1em;
}

.card-des h3 {
  margin: 0;
}

.portfolio-links {
  background: var(--primary);

  display: inline-block;
  margin-top: 0.9em;
}

/* gallery */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}

.gallery-item {
  border-radius: 8px;
  overflow: hidden;
  height: auto;
  animation: fadeIn 0.5s ease forwards;
}

.gallery-item.large {
  grid-row: span 2;
}

.gallery-item.tall {
  grid-row: span 3;
}

/* contact */

.contact-wrapper {
  background: var(--primary);
}

.contact-form {
  max-width: 768px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
}

.form-group > input,
.form-group > textarea {
  outline: none;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--primary);
  background: var(--secondary);
}

.form-group textarea {
  height: 120px;
}

.sendMessage {
  justify-content: start;
}

/* footer */

.footer-wrapper {
  background: var(--primary);
  color: var(--secondary);
  border-top: 1px solid var(--absolute);
}

/* MEDIA QUERIES */

@media (min-width: 768px) {
  .heading-one {
    font-size: 4.06rem;
    margin-top: 0;
  }

  .heading-two {
    font-size: 2.059rem;
  }

  .sub-text-one {
    font-size: 1.19rem;
  }

  .text-center {
    text-align: start;
  }

  .main {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right";
  }

  .left-main-content {
    grid-area: left;
  }

  .cta-container {
    justify-content: start;
  }

  .right-main-content {
    grid-area: right;
  }
}

@media (min-width: 1040px) {
  .heading-one {
    font-size: 4.688rem;
  }

  .heading-two {
    font-size: 2.5rem;
  }

  .heading-three {
    margin-block: 0 2rem;
  }

  .sub-text-one {
    font-size: 1.25rem;
  }

  .menu-btn {
    display: none;
  }

  .nav-container {
    transform: translateY(0);
    width: unset;
    background: none;
    display: flex;
    padding-top: 1em;
    padding-bottom: 0;
    position: unset;
    height: auto;
  }

  nav a {
    border-top: none;
    border-radius: 8px;

    &:first-of-type {
      margin-top: 0;
    }
  }
  .right-main-content .image-container {
    max-width: 400px;
    max-height: 400px;
  }

  /* about */
  .inner-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right";
  }

  .left-about-content {
    grid-area: left;
  }

  .right-about-content {
    grid-area: right;
  }
}
